services/users/wsdl.xml

<wsdl:definitions 
    xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" 
    xmlns:tns="http://Example.org" 
    xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
    xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" 
    xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" 
    targetNamespace="http://Example.org" 
    xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
    <wsdl:types>
        <xsd:schema targetNamespace="http://Example.org" elementFormDefault="qualified" >
            <xsd:element name="Signup">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="login" type="xsd:string" />
                        <xsd:element name="password" type="xsd:string" />
                        <xsd:element name="firstName" type="xsd:string" />
                        <xsd:element name="lastName" type="xsd:string" />
                        <xsd:element name="email" type="xsd:string" />
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="SignupResponse">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="token" type="xsd:string" />
                        <xsd:element name="error" type="xsd:string" />
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="Signin">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="login" type="xsd:string" />
                        <xsd:element name="password" type="xsd:string" />
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="SigninResponse">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="token" type="xsd:string" />
                        <xsd:element name="error" type="xsd:string" />
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
        </xsd:schema>
    </wsdl:types>
    <wsdl:message name="Users_Signup_InputMessage">
        <wsdl:part name="parameters" element="tns:Signup" />
    </wsdl:message>
    <wsdl:message name="Users_Signup_OutputMessage">
        <wsdl:part name="parameters" element="tns:SignupResponse" />
    </wsdl:message>
    <wsdl:message name="Users_Signin_InputMessage">
        <wsdl:part name="parameters" element="tns:Signin" />
    </wsdl:message>
    <wsdl:message name="Users_Signin_OutputMessage">
        <wsdl:part name="parameters" element="tns:SigninResponse" />
    </wsdl:message>
    <wsdl:portType name="Users">
        <wsdl:operation name="Signup">
            <wsdl:input wsaw:Action="http://Example.org/Users/Signup" message="tns:Users_Signup_InputMessage" />
            <wsdl:output wsaw:Action="http://Example.org/Users/SignupResponse" message="tns:Users_Signup_OutputMessage" />
        </wsdl:operation>
        <wsdl:operation name="Signin">
            <wsdl:input wsaw:Action="http://Example.org/Users/Signup" message="tns:Users_Signin_InputMessage" />
            <wsdl:output wsaw:Action="http://Example.org/Users/SignupResponse" message="tns:Users_Signin_OutputMessage" />
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="DefaultBinding_Users" type="tns:Users">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
        <wsdl:operation name="Signup">
            <soap:operation soapAction="http://Example.org/users/signup" style="document" />
            <wsdl:input>
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" />
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="Signin">
            <soap:operation soapAction="http://Example.org/users/signin" style="document" />
            <wsdl:input>
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" />
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="UsersService">
        <wsdl:port name="Users" binding="tns:DefaultBinding_Users">
            <soap:address location="http://Example.org/users" />
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>